.message-container {
  min-width: 12%;
  max-width: 30%;
  padding: 0.7rem;
  margin: .8rem;
  height: auto;
  /* background-color: aqua; */
  border-radius: 0.5rem;
  clear: both;
}

.right {
  float: right;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-family: "poppins";
  background-color: #eeeeee;
  letter-spacing: normal;
}

.left {
  letter-spacing: normal;
  color: white;
  font-weight: lighter;
  background-color: #393e46;
  float: left;
  font-family: "poppins";
}


@media (max-width: 600px) {
  .message-container{
    min-width: 25%;
    max-width: 40%;

  }
}